.intro {
    padding-top: 112px;

    &__inner {
        .slick-prev {
            top: unset;
            bottom: 50px;
            left: calc(50% + 35px);
            z-index: 2;

            width: 20px;
            height: 32px;

            &::before {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                font-size: 30px;
                content: url("../images/icons/arrow-left.png");
            }
        }

        .slick-next {
            top: unset;
            bottom: 50px;
            left: calc(50% + 65px);
            z-index: 2;

            width: 20px;
            height: 32px;

            &::before {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                font-size: 30px;
                content: url("../images/icons/arrow-right.png");
            }
        }

        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: unset !important;
        }

        &-slide {
            display: flex !important;


            &-image {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    @include fullImage;
                }
            }

            &-content {
                box-sizing: border-box;
                padding: 35px;
                padding-bottom: 120px;
                width: 50%;
                background-color: $main;

                h4 {
                    margin-bottom: 25px;
                }

                p {
                    margin-bottom: 25px;
                    max-width: 440px;
                }

                a {
                    color: $white;
                    font-family: $west;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 22px;
                    @include transition;

                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
    }
}

// 1340px
@mixin intro-xxlg-xxxlg {
    .intro {
        &__inner {

            .slick-prev,
            .slick-next {
                bottom: 30px;
            }

            &-slide {
                &-content {
                    padding-bottom: 100px;

                    h4 {
                        margin-bottom: 15px;
                    }

                    p {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

// 1180px
@mixin intro-xlg-xxlg {
    .intro {
        padding-top: 105px;

        &__inner {
            .slick-prev {
                bottom: 15px;
                left: calc(50% + 25px);
            }

            .slick-next {
                bottom: 15px;
                left: calc(50% + 50px);
            }

            &-slide {
                &-content {
                    padding: 25px;
                    padding-bottom: 80px;
                }
            }
        }
    }
}

// 1024px
@mixin intro-lg-xlg {
    .intro {
        padding-top: 92px;

        &__inner {
            .slick-prev {
                bottom: 10px;
                left: calc(50% + 20px);
            }

            .slick-next {
                bottom: 10px;
                left: calc(50% + 45px);
            }

            &-slide {
                &-content {
                    padding: 20px;
                    padding-bottom: 80px;

                    h4 {
                        margin-bottom: 15px;
                    }

                    p {
                        margin-bottom: 10px;
                        max-width: unset;
                    }
                }
            }
        }
    }
}

// 840px
@mixin intro-md-lg {
    .intro {
        &__inner {

            .slick-prev {
                left: unset;
                bottom: 20px;
                right: 45px;
            }

            .slick-next {
                left: unset;
                bottom: 20px;
                right: 20px;
            }

            &-slide {
                flex-direction: column;
                justify-content: unset;

                &-image {
                    position: relative;
                    box-sizing: border-box;
                    width: 100%;
                    padding-top: 56.5%;

                    img {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }

                &-content {
                    padding-bottom: 80px;
                    width: 100%;
                    height: 270px;

                    h4 {
                        max-height: 52px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    p {
                        max-height: 66px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

// 700px
@mixin intro-sm-md {
    .intro {
        padding-top: 79px;
    }
}

// 540px
@mixin intro-xsm-sm {
    .intro {
        padding-top: 64px;

        &__inner {
            &-slide {
                &-content {
                    height: 290px;

                    p {
                        max-height: 88px;
                    }
                }
            }
        }
    }
}

// 390px
@mixin intro-xxsm-xsm {
    .intro {
        padding-top: 60px;

        &__inner {
            &-slide {
                &-content {
                    height: 250px;

                    h4 {
                        margin-bottom: 10px;
                        max-height: 40px;
                    }

                    p {
                        max-height: 72px;
                    }

                    a {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
}

// about
.about {
    padding-top: 40px;
    padding-bottom: 60px;

    &__inner {
        margin: 0 auto;
        max-width: 760px;

        p {
            margin-bottom: 30px;

            strong {
                text-transform: uppercase;
            }

            &:last-child {
                margin: 0;
            }
        }
    }
}

// 540px
@mixin about-xsm-sm {
    .about {
        padding: 30px 0;

        &__inner {
            p {
                margin-bottom: 20px;
            }
        }
    }
}